<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<<<<<<< HEAD

=======
<!--
<p>
  <strong>Post:</strong>
  <%= @user.microposts.first.content %>
</p>
-->
>>>>>>> 00d9b5da213f3c23828326105183da0c137d7b98

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
